*{
    margin: 0;
    padding: 0;
}
.tren {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    height: 120px;
}
.dau h1{
    margin-left: 10px;
}
.giua a{
    text-align: center;
    margin-left: 25px; 
    display: inline;
    text-decoration: none;
    justify-content: space-between;
    color: white;
}
.cuoi{
    margin-right: 10px;
}
.cuoi a{
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 15px;
    display: flex;
    display: inline;
    margin-right: 5px;
}
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content p{
    color: black;
    font-size: 20px;
    text-decoration: none;
    display: block;
}
  .dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content p:hover {
    background-color: #f1f1f1;
}  

h1 {
    text-align: center;
}

#cart {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#tong {
    text-align: right;
    font-size: 1.2em;
    margin-top: 20px;
}
